$break-point: 769px
$break-point-mobile: 472px

#design
  margin-top: -8rem
  padding-bottom: 1rem

.react-photo-gallery--gallery img
  max-height: 280px
  @media (max-width: $break-point-mobile)
    height: 100% !important

.box .content .columns .column
  padding: 60px 35px
  &:not(:last-child)
    border-bottom: 1px solid #E6ECF8
    border-right: 0 solid #E6ECF8
    @media (min-width: $break-point)
      border-bottom: 0 solid #E6ECF8
      border-right: 1px solid #E6ECF8
