#header-hero
  background-image: url("../../../../assets/iconHeader.png")
  background-position: bottom
  background-repeat: no-repeat
  background-size: 80%
  .hero-body
    flex-grow: 0

.avatar
  width: 180px
